 .title {
     margin-top: 60px;
 }

 .jumbotron {
     box-sizing: border-box;
     height: 800px;
     background-color: rgba(0, 0, 0, 0);
 }

 .button-container {
     margin-top: 25px;
     max-width: 500px;
     margin: 0px auto;
 }
.timer-p{
    font-size: 20px;
    color: yellow;
}
 .img {
     border-radius: 5px;
     height: 350px;
     width: 450px;
 }

 .answer:hover {
     background: #777;
 }

 .answer {
     padding-top: 10px;
     height: 45px;
     color: black;
     background-color: white;
     border-radius: 5px;
     width: 450px;
     margin: 10px auto;
     align-content: center;
 }

 .img-wrong, .img-right {
     margin-top: 20px;
     height: 300px;
     width: 400px;
 }

 .first-answer {
     margin-top: 30px;
 }

 .reset-button {
     margin-top: 40px;
 }

 .reset-button-container {
     max-width: 500px;
     margin: 0px auto;
 }

 .summary-correct {
     margin-top: 40px;
 }

 body {
     background-color: black;
     color: white;
 }